---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import WorkExperiences from "../components/WorkExperiences.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
	<main class="bg-[#11071F] py-20 w-full min-h-screen text-white">
		<div class="mx-auto max-w-6xl">
			<Profile />

			<WorkExperiences />

			<Projects />

			<Contact />
		</div>
	</main>
</Layout>
