---
const { title, description, img } = Astro.props;
const { class: className, ...rest } = Astro.props;
---

<div
  class=`px-12 py-8 border border-[#2C1250] border-t-[#693B93] border-t-4 rounded-t-xl rounded-b-xl w-full card-experience ${className}`
>
  <div class="flex gap-8 w-full">
    <div class="relative w-24 sombra-imagen">
      <img class="block w-full" src={img} alt="" />
      <span class="point-white point"></span>
      <span class="point-violet point"></span>
    </div>
    <div class="flex-1">
      <h3 class="font-medium text-4xl">{title}</h3>
      <p class="mt-2 max-w-full text-[10px] text-justify">
        {description}
      </p>

      <p class="mt-4 max-w-full text-[10px] text-end">Jaén, Cajamarca, Perú</p>

      <p class="max-w-full text-[10px] text-end">2021 - Actualidad</p>

      <div class="flex justify-end mt-3">
        <button
          class="hover:bg-[#693B93] px-8 py-2.5 border border-[#693B93] rounded-xl text-xs tracking-wide transition-colors ease-out"
        >
          VER REFERENCIA
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  * {
    font-family: "Poppins", sans-serif;
  }

  .card-experience {
    /* background: rgb(19, 4, 40);
    background: linear-gradient(
      90deg,
      #130428 7%,
      #251043 34%,
      #38126d 57%,
      #261045 85%,
      #190634 100%
    ); */
    box-shadow: 4px 7px 26px #000000;
  }

  .gradiente-bottom-right {
    background: #130428;
    background: linear-gradient(
      26deg,
      #130428 7%,
      #251043 34%,
      #38126d 57%,
      #261045 85%,
      #190634 100%
    );
  }

  .gradiente-top-left {
    background: #130428;
    background: linear-gradient(
      320deg,
      #130428 7%,
      #251043 34%,
      #38126d 57%,
      #261045 85%,
      #190634 100%
    );
  }

  .sombra-imagen::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    bottom: 0;
    border-radius: 50%;
    background: #11071f;
    transform: rotate(-8deg);
    background: linear-gradient(0deg, #2c1250 0%, #2c1250 20%, #2c125000 90%);
  }

  .point::after,
  .point::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .point-white.point::after {
    top: 70%;
    left: 0;
    background-color: #d9d9d9;
  }
  .point-white.point::before {
    top: 40%;
    right: -10%;
    background-color: #d9d9d9;
  }

  .point-violet.point::before {
    top: 15%;
    left: 15%;
    background-color: #693b93;
  }
  .point-violet.point::after {
    bottom: 5%;
    right: 15%;
    background-color: #693b93;
  }
</style>
