---
// const { img } = Astro.props;
---

<div class="size-10">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="0.2"
        class="block w-full h-full text-white"
    >
        <slot />
    </svg>
</div>
