---
import ContentProject from "./Content-Project.astro";
import ImageProject from "./Image-Project.astro";
---

<div class="gap-3 grid md:grid-cols-2 pt-10 md:pt-40 w-full">
    <ContentProject
        company="Next Technologies E.I.R.L."
        title="Sistema Web ERP"
    >
        Desarrollo de un sistema web propio que brinda soluciones
        tecnológicas. El sistema integral incluye facturación electrónica,
        ventas, tienda virtual, gestión de almacén, kardex, compras, flujo de
        caja, reportes, etc.
    </ContentProject>
    <ImageProject />
</div>

<div class="gap-3 grid md:grid-cols-2 mt-10 md:mt-40 w-full">
    <ImageProject class="inverse" align="start" />
    <ContentProject
        company="Next Technologies E.I.R.L."
        title="Sistema Soporte Técnico"
        class="inverse"
    >
        He desarrollado un sistema automatizado para facilitar la gestión de
        incidencias y solicitudes de servicio por parte de nuestros clientes,
        incluyendo facturación electrónica de los servicios.
    </ContentProject>
</div>


