---
import Experience from "./Experience.astro";
---

<div class="relative pt-20 content-experiences">
  <h1 class="pb-16 text-4xl">Work Experience</h1>

  <div class="gap-6 grid md:grid-cols-2">
    <Experience
      title="CIB on the Mobile"
      description=`Take your client onboard seamlessly by our amazing tool of
                digital onboard process.`
      img="markup.png"
    />

    <Experience
      title="CIB on the Mobile"
      description=`Take your client onboard seamlessly by our amazing tool of
                digital onboard process.`
      img="bombilla.png"
    />

    <Experience
      title="CIB on the Mobile"
      description=`Take your client onboard seamlessly by our amazing tool of
                digital onboard process.`
      img="coffe.png"
    />
    <Experience
      class="gradiente-bottom-right"
      title="CIB on the Mobile"
      description=`Take your client onboard seamlessly by our amazing tool of
                digital onboard process.`
      img="fusible.png"
    />
  </div>
</div>

<p class="pt-20 text-center text-lg">
  i'm currently looking to join <span class="text-[#7127BA]"
    >cross-functional</span
  > team
</p>

<p class="text-xs text-center">
  that values improving people's lives through accessible design
</p>

<div class="w-full max-w-sm mx-auto flex flex-wrap gap-3 justify-center mt-8">
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
  <div class="size-10 border"></div>
</div>

<style>
  .content-experiences {
    background: #11071f;
    background: radial-gradient(circle 260px, #763cac, #320f8500);
  }
</style>
